*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.esqueletoOff{
    width: 500px;
    height: 600PX;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: end;
    /* texto cualquiera */
    justify-content: center;
    padding: 20px;
    background-image: url(../img/esqueleto2.png);
}
.esqueletoOnOff{
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 1vh;
    position: fixed;
    display: flex;
    color: rgb(46, 23, 14);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid rgb(238, 222, 6);
    background-color: rgb(238, 222, 6);
}
.esqueletoOnOff:hover{
    transition: .3s;
    background: rgb(20, 20, 20);
    color: rgb(238, 222, 6);
}
 
.on{
    background-image: url(../img/esqueleto1.gif);
}